body{
  margin:0;
  padding:0;
  background:#f2f2f2;
  font-family:Arial;
}

.container{
  width:80%;
  margin:auto;
  margin-top:30px;
}

.form-box{
  background:#2d1db7;
  padding:30px;
  border-radius:10px;
  text-align:center;
  color:white;
}

.form-box h1{
  margin-bottom:20px;
}

.form-box input{
  width:80%;
  padding:12px;
  margin:10px;
  border:none;
  border-radius:5px;
}

.form-box button{
  width:85%;
  padding:12px;
  background:#1e90ff;
  border:none;
  color:white;
  font-size:16px;
  border-radius:5px;
  cursor:pointer;
}

.table-box{
  background:white;
  margin-top:30px;
  padding:20px;
  border-radius:10px;
}

.table-box h2{
  text-align:center;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

table th{
  background:#222;
  color:white;
  padding:12px;
}

table td{
  padding:12px;
  text-align:center;
  border-bottom:1px solid #ccc;
}

.delete-btn{
  background:orange;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:5px;
  cursor:pointer;
}
.edit-btn{
  background:#1e90ff;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:5px;
  margin-right:10px;
  cursor:pointer;
  font-size:14px;
}
.edit-btn:hover{
  background:#0d6efd;
}